
@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!doctype html>
<html lang="en">

<body>
    @await Component.InvokeAsync("_DefaultFeature")

    @await Component.InvokeAsync("_DefaultOurFields")

    @await Component.InvokeAsync("_DefaultSellRent")

    @await Component.InvokeAsync("_DefaultAboutUsVideo")

    @await Component.InvokeAsync("_DefaultPostProperty")

    @await Component.InvokeAsync("_DefaultServices")
   
    @await Component.InvokeAsync("_DefaultProperties")
  
    @await Component.InvokeAsync("_DefaultJoinUs")

    @await Component.InvokeAsync("_DefaultTestimonials")

    @await Component.InvokeAsync("_DefaultBlog")

</body>

</html>

