<section class="w3l-join-main py-5">
    <div class="container py-md-5">
        <div class="w3l-project-in">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="bottom-info">
                        <div class="header-section">
                            <h6 class="title-subw3hny mb-lg-2">Bir Tura Çıkalım </h6>
                            <h3 class="title-w3l two mb-2">
                                Daha Akıllı Arama Mülkü,
                                Daha Hızlı ve Her Yerde
                            </h3>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 align-self mt-lg-0 mt-3">
                    <p>Bizlerle birlikte bir tur atmaya ne dersiniz? Sizler için daha hızlı ve güvenli mülklerle burdayız. </p>
                </div>
            </div>
        </div>
    </div>
</section>