@using RealHouzing.Consume.Models.ServicesPostPropertyModels;
@model AddServicesPostPropertyViewModel
@{
    ViewData["Title"] = "AddServicesPostProperty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <br />
    <label>Resim</label>
    <input type="text" class="form-control" asp-for="ImageURL" />
    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="Title" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-info">Yeni Emlak Yayını Ekle</button>
</form>


